APP_NAME=IMEWS Backend
APP_ENV=prod
APP_DEBUG=false
API_V1_PREFIX=/api/v1
BACKEND_PUBLIC_BASE_URL=http://111.228.1.237

TEACHER_INVITE_CODE=IMEWS-TEACHER-2026

MYSQL_HOST=mysql
MYSQL_PORT=3306
MYSQL_USER=imews
MYSQL_PASSWORD=123456
MYSQL_DB=imews
MYSQL_ECHO=false

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=

JWT_SECRET_KEY=WADGSFDTDVVNKIPKIUZQPERERBNNBXZ
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=120

SMS_MODE=mock
SMS_CODE_EXPIRE_SECONDS=300
SMS_SEND_INTERVAL_SECONDS=60

FORGOT_PASSWORD_LIMIT_WINDOW_SECONDS=600
FORGOT_PASSWORD_LIMIT_MAX_ATTEMPTS=5

AI_ANALYSIS_WEBHOOK_URL=http://host.docker.internal:11015/api/v1/evaluation/analyze
AI_ANALYSIS_MODEL=
AI_CALLBACK_TOKEN=imews-ai-callback-token
AI_REQUEST_TIMEOUT_SECONDS=90